html, body {
  height: 100%;
}
#wrapper {
  height: 100%;
  display: flex;
  display: "-webkit-flex";
  display: "-moz-flex";
  display: "-ms-flexbox"; // IE10 uses -ms-flexbox
  display: "-ms-flex"; // IE11
  display: "-webkit-box";
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}
#map {
  height: 100%;
  display: flex;
  display: "-webkit-flex";
  display: "-moz-flex";
  display: "-ms-flexbox"; // IE10 uses -ms-flexbox
  display: "-ms-flex"; // IE11
  display: "-webkit-box";
}
#nav {
  padding: 10px;
}
.filter {
  display: inline-block;
  margin-left: 10px;
  padding: 0.5em;
}
.filter:hover, .filter.active {
  text-decoration: underline;
  cursor: pointer;
}