html, body {
    height: 100%;
}
#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#map {
    height: 100%;
    display: flex;
}
#nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.filter {
    margin-left: 10px;
}
.filter:hover, .filter.active {
    text-decoration: underline;
    cursor: pointer;
}